<div class="gallery-wrap " id="gallery">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="gallery_box">
          <div class="gallery_left">
            <div class="title">
              <h1>Photo Gallery</h1>
            </div>
            <p>Lorem ipsum dolor sit amet, adipiscing elit. Vivamus nibh dolor, gravida faucibus dolor consectetur.</p>
            <div class="readmore"><a href="#">View All Gallery</a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="galleryImg"><%= image_tag "gallery-1.jpg" %>
              <div class="portfolio-overley">
                <div class="content"> <a href="<%= asset_path("gallery-1.jpg") %>" class="fancybox image-link" data-fancybox="images" title="Image Caption Here"><i class="fas fa-search-plus"></i></a> </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="galleryImg"><%= image_tag "gallery-2.jpg" %>
              <div class="portfolio-overley">
                <div class="content"> <a href="<%= asset_path("gallery-2.jpg") %>" class="fancybox image-link" data-fancybox="images" title="Image Caption Here"><i class="fas fa-search-plus"></i></a> </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="galleryImg"><%= image_tag "gallery-3.jpg" %>
              <div class="portfolio-overley">
                <div class="content"> <a href="<%= asset_path("gallery-3.jpg") %>" class="fancybox image-link" data-fancybox="images" title="Image Caption Here"><i class="fas fa-search-plus"></i></a> </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="galleryImg"><%= image_tag "gallery-4.jpg" %>
              <div class="portfolio-overley">
                <div class="content"> <a href="<%= asset_path("gallery-4.jpg") %>" class="fancybox image-link" data-fancybox="images" title="Image Caption Here"><i class="fas fa-search-plus"></i></a> </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="galleryImg"><%= image_tag "gallery-5.jpg" %>
              <div class="portfolio-overley">
                <div class="content"> <a href="<%= asset_path("gallery-5.jpg") %>" class="fancybox image-link" data-fancybox="images" title="Image Caption Here"><i class="fas fa-search-plus"></i></a> </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="galleryImg"><%= image_tag "gallery-6.jpg" %>
              <div class="portfolio-overley">
                <div class="content"> <a href="<%= asset_path("gallery-6.jpg") %>" class="fancybox image-link" data-fancybox="images" title="Image Caption Here"><i class="fas fa-search-plus"></i></a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>