<!DOCTYPE html>
<html>
  <head>
    <title>SsgsNew</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    
  </head>

  <body>
    <%= render "partials/header" %>
    <%= yield %>
    <%= render "partials/footer" %>
    <%= javascript_include_tag 'home', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
